<h2>Course List</h2>

<div class="search-bar">
  <input
    type="text"
    placeholder="Search courses by name or code..."
    [(ngModel)]="searchTerm"
    (ngModelChange)="onSearchChange()"
  />
</div>

<p *ngIf="errorMessage$ | async as err" class="error-msg">{{ err }}</p>

<p *ngIf="isLoading$ | async">Loading courses...</p>

<div *ngIf="!(isLoading$ | async)">

  <ng-container *ngIf="(filteredCourses$ | async) as courseList">
    <ng-container *ngIf="courseList.length > 0; else noCourses">
      <div *ngFor="let c of courseList; let i = index; trackBy: trackByCourseId" class="clickable-card-wrapper">
        <div (click)="onCourseClick(c.id)">
          <app-course-card
            [course]="c"
            [appHighlight]="'yellow'"
            (enrollRequested)="onEnroll($event)">
          </app-course-card>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #noCourses>
    <p>No courses available matching search criteria.</p>
  </ng-template>

  <p *ngIf="selectedCourseId" class="selected-info">
    Selected course ID: {{ selectedCourseId }}
  </p>

</div>